<p id="notice"><%= notice %></p>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link" font-face="bebas">Products</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">About Us</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash"><
      <div class="splash-head">
      </div>
      </div>
</div>




    <% @products.each do |product| %>
      <div><%= product.name %></div>
      <div><%= product.description %></div>
      <div>$<%= product.formatted_price %></div>
        <!-- <td><%= product.price_in_dollars %></td> -->
    <% end %>
