<p id="notice"><%= notice %></p>

<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="products" class="pure-menu-link" font-face="bebas">Products</a></li>
            <li class="pure-menu-item"><a href="products#about_us" class="pure-menu-link">About Us</a></li>
            <li class="pure-menu-item"><a href="products#contact" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>

  <div class="is-center">
    <%= image_tag @product.image %>

    <h3 class="product-h1"><%= @product.name %></h3>
  </div>
    <div class="is-center">
    <% descriptions = @product.description.split(". ") %>
        <% descriptions.each do |description| %>
        <br><%= description %>
        <% end %>
  <h2 align="center"><%= number_to_currency(@product.formatted_price) %></h2>
  <div class="is-center"><br>
    <h3 class="review" color="#230800">Reviews</h3>
    <% @product.reviews.each do |review| %>
    <p class="reviews"><%= review.comment %><br /><%= review.created_at.strftime("%m/%d/%Y") %></p>
    <% end %>
    <%= render 'reviews/form' %>
  </div>
</div><br>
    <div align="center"><%= link_to 'Back', products_path, class: "btn btn-info" %></div>
